:root{
  --td-cell-width: 50px;
  --td-cell-height: 15px;
  --td-cell-color: blue;
  }
  .progress {
    width: 150px;
    height: 150px;
    background: none;
    position: relative;
  }
  
  .progress::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  
  .progress .progress-left {
    left: 0;
  }
  
  .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
  }
  
  .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  
  .progress .progress-right {
    right: 0;
  }
  
  .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
  
  .progress .progress-value {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  
  body {
    background: #ff7e5f;
    background: -webkit-linear-gradient(to right, #ff7e5f, #feb47b);
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    min-height: 100vh;
  }
  
  .rounded-lg {
    border-radius: 1rem;
  }
  
  .text-gray {
    color: black;
  }
  
  div.h4 {
    line-height: 1rem;
  }
  
  .table-striped
  {
      border: 1px solid black;
      width: 100px;
      height: 50px;
      overflow: auto;
  }
  
  table
  {
      border: 1px solid black;
      margin-right: 20px;
  }
  
  td
  {
      min-height: var(--td-cell-height);
      max-height: var(--td-cell-height);
      color: black;
      overflow: hidden;
  
      /* background-color: white; */
  }
  .table-striped > tbody > tr:nth-child(2n+1){
     background-color: lightgray;
  }

  
  #feedback { font-size: 1.4em; }
  #selectable td.ui-selecting { background: lightskyblue; }
  #selectable td.ui-selected { background: lightgreen; color: black; }
  #selectable { list-style-type: none; margin: 0; padding: 0; width: 450px; }
  #selectable li { margin: 3px; padding: 1px; float: left; width: 100px; height: 80px; font-size: 4em; text-align: center; }
  
  .highlight {
    background-color: #ffff99 !important;
  }
  
