.dropdown{
    left:30%;
}
.sidenav a{
color:white;

}
.sidenav a:hover{
    color: yellow;
  }
  
.sidenav {
height: 100%;
width: 100px;
position: fixed;
z-index: 20005;
top: 0;
left: 0;
background-color: black;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}
.select2-container {min-width: 0 !important;}
