<!-- path/to/and/name.html (optional but usefull)-->
{% extends "delve/base.html" %}
{% comment %} Data binding {% endcomment %}
{% load static %}
{% comment %} {% static "channels/js/websocketbridge.js" %} {% endcomment %}
{% block head %}
<script src="https://d3js.org/d3.v4.min.js"></script>
{% endblock %}

{% block body_block %}


<!-- STAGE 1.0 -->
<div class="row m-0">
  <div class=" col-md-12 m-0 ">
    <div class="card shadow h-100 py-2">
      <div class="card-body">
        <form action="/search" meth od="get" class="col-11">      
          <div class="d-flex">
            <select id='SMIE-Select' class="form-control mt-2" type="text" placeholder="Search" aria-label="Search">
              <option>Select a Cancer</option>
            </select>
            <button class="btn btn-primary my-2" type="submit">Search</button>
          </div>
        </form>
  
      </div>
    </div>
  </div>
</div>

<div class="col-xl-12 mx-auto mt-3">
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Most Recent Updates</h6>
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
          <div class="dropdown-header">Dropdown Header:</div>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
 
      <table class="table table-hover">
        <tbody>
          <tr>
            <td>
              Cell Line updated for neuroblastoma
            </td>
          </tr>
          <tr>
            <td>
              Overviews updated for pancreatic
            </td>
          </tr>
          <tr>
            <td>
              Target upadated for algo
            </td>
          </tr>
          <tr>
            <td>
              [Model] upadated for [Indication]
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<!-- Most Recent Updates -->

<!-- Recently Added -->
<div class="row">
  <div class="col-lg-6 ml-3">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Recently Added</h6>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Dropdown Header:</div>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <!-- Card Body -->
      <div class="card-body">

            
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>LINK</td>
                  <td>TO</td>
                  <td>CANCER</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>


      </div>
    </div>
  </div>

  <div class="col-lg-5 mx-auto">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Target Overlap</h6>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Dropdown Header:</div>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
    
      <!-- Card Body -->
      <div class="card-body">
       MYCN in 7 Cancers
       <br>
       IDH in 3 cancers
       <br>
       Link to Targets
    
      </div>
    </div>
  </div>
</div>

<!-- Most Recent Updates -->
<div class="col-xl-12 col-lg-12">
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Tech Transfer - Last Upadted --/--/--</h6>
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
          <div class="dropdown-header">Dropdown Header:</div>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
      <table class="table table-hover">
        <tbody>
          <tr>
            <td>
              LCF-01 from stanford pancreatic has been identfied in X cancers
            </td>
          </tr>
          <tr>
            <td>
              STR54 from Boston University for PTE has been identfied in 9 cancers
            </td>
          </tr>
          <tr>
            <td>
              Link to app page
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- STAGE 1.1 -->

  <!-- Cancer search view -->
  <div class="m-3">
    <h4>--CANCER HERE--</h4>

    <div class="card shadow mb-4">
      
      <div class="card-header">
      </div>
      
      <div class="card-body">
        <a class="btn btn-primary" href="{% url 'cancer-search' %}">2.0</a>
        <a class="btn btn-primary" href="{% url 'cancer-overview' %}">2.1</a>
        <!-- <form method="post" action="{% url 'cancer-detail' %}"> -->
          <!-- {% csrf_token %} -->
          <!-- <a class="btn btn-primary" >2.2</a> -->
        <!-- </form> -->
      </div>

    </div>

  </div>













<!-- D3.js cancer bubble chart -->
<div style="text-align: center;">
  <svg width="960" height="960" ></svg>
</div>

<div style="padding: 10% 15%;">
    <!-- CONTENT -->
    <table class="table table-striped">
            <thead>
              <tr>
                <th>Experiments</th>
                <th>Scientist</th>
                <th>Therapeautics</th>
                <th>Cancers</th>
                <th>Cell Lines</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>--</td>
                <td>----</td>
                <td>-</td>
                <td>---</td>
                <td>-- --</td>
              </tr>
            </tbody>
          </table>
    <!--  -->
</div>
<!--  -->
<script src="{% static 'js/cancer_bubbles.js' %}" type="text/javascript"></script>

{% endblock %}